<div class="small-banner">
  <h1>Welcome to your Journal</h1>
  <h2><%= @name.capitalize %></h2>
  <a href="/"><button class="btn btn-sm btn-outline-secondary" type="button">Logout</button></a>
</div>
<div class="products">
<% @elements.each_with_index do |element, index| %>
  <div class="product">
    <div class="product-description">
     <h3><%= element.date_input %></h3>
      <p class="product-details"><%= element.entry %></p>
      <div class="post-actions">
        <a class="update" href="/update/<%= index %>">Edit</a>
        <a class="delete" href="/elements/<%= index %>">Delete</a>
      </div>
    </div>
  </div>
<% end %>
<a class="add-entry" href="/new">Add an entry</a>
</div>
